<label>Server Name</label>
<!-- <input type="text"
    class="form-control"
    (input)="onUpdateServerName($event)" /> -->
<!-- Two-way data binding -->
<input type="text"
    class="form-control"
    [(ngModel)]="serverName" />
<br />
<!-- Property Binding and Event Binding -->
<button
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()">
    Add Server
</button>

<!-- String Interpolation -->
<p *ngIf="serverCreated">{{ serverCreationStatus }}</p>

<hr />
<app-server *ngFor="let server of servers"></app-server>

<hr/>